aniso8601==3.0.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
Django==2.0.2
django-el-pagination==3.0.1
django-markdown-deux==1.0.5
django-pagedown==1.0.4
django-simple-blog==0.2.1
django-simple-math-captcha==1.0.7
Flask==0.12.2
Flask-PyMongo==0.5.1
Flask-RESTful==0.3.6
idna==2.6
itsdangerous==0.24
Jinja2==2.10
markdown2==2.4.0
MarkupSafe==1.0
pymongo==3.6.1
pytz==2018.3
requests==2.18.4
six==1.11.0
urllib3==1.22
Werkzeug==0.14.1
